*{
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

/* intestazione */
header{
    display:flex;
    justify-content:space-around;
    align-items:center; 
    padding:20px;
    /* DEBUG */
    background-color: #add8e7;
   
}
.container-header{ 
    display:flex;
    justify-content:space-between;
    padding:5px;
   /* DEBUG */
   background-color: #daa51e;
   height:50px;
   width:80%;
   border: 2px solid black;
    
}

/* logo */

.logo{
    flex-basis:15%;
    /* border: 1px solid black; */
    
}

/* contenuto di navigazione */
.nav{
    display: flex;
    justify-content:center;
    align-items: center;
    /* border: 1px solid black; */
}
.unorderlist{
    display: flex;
    justify-content:center;
    align-items:center;
    list-style: none;  
}
 .link{
    flex-basis:30%;
    margin-left:10px;
    
 }


/* sottolineatura link */
a{
    text-decoration: none;
} 

/* contenuto di accesso */
.button{
    flex-basis:15%;
    /* border: 1px solid black; */
}



/* blocco principale */

 /* regole container */
#container{
    display: flex;
    justify-content: center;
    background-color: #00018b;
    padding:40px;
    height:400px;
    /* min-width: 300px; */
    border:2px solid black;
}

.container-main{
    display: flex;
    justify-content: center;
    padding:40px;
    height:400px;

}
/* colore contenuto interno prima sezione */
.hero{
    background-color: #ef82ed;
    flex-basis:50%;
    border:2px solid black;
}
 /* colori contenitore sezioni */
.white{
    background-color: #ffffff;
}

.lightgrey{
    background-color: #d3d3d3;
}

/* scatole contenute all'interno della seconda sezione */

.square-heavenly{
    background-color: #1e90ff;
    flex-basis:40%;
}

.square-pink{
    background-color: #ffc0ca;
    flex-basis:30%;
}